# ----------------------------------------------------------------------------------------
#               self
# ----------------------------------------------------------------------------------------
_documentation
immersion/
build/
node_modules/
.svelte-kit/
